<h1>About Blogster</h1>
<p>Blogster is the newest, coolest blogging application on the internet! So many cool people are on Blogster, 
    and we think you are cool! So you should join! We are here to help you get your story out there! Blogster 
started in 2021 by the owner, Derek Marsden. His vision was to give everyone a place to feel like they can 
be creative and make a difference. Lets get blogging!</p>